@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";
@import "_partials/common.scss";
@import "_partials/components.scss";
@import "_partials/typography.scss";
@import "_partials/utilities.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";
@import "_partials/create-style.scss";
@import "_partials/edit-style.scss";
@import "_partials/show-style.scss";
@import "_partials/sponsorships-style.scss";
@import "_partials/login-style.scss";
@import "_partials/register-style.scss";
@import "_partials/messages-style.scss";
@import "_partials/list-properties-style.scss";
@import "_partials/forgot-password-style.scss";
@import "_partials/sponsor-result.scss";
@import "_partials/dashboard-style.scss";


* {
    font-family: "Montserrat";
}

h1 {
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    width: fit-content;
}

.bg-success-subtle {
    background-color: #ffff !important;
}

.custom-toaster {
    background-color: #CEF27E !important;
    color: black !important;


    button {
        color: black !important;
    }
}