@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";
@import "_partials/common.scss";
@import "_partials/components.scss";
@import "_partials/typography.scss";
@import "_partials/utilities.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";

body {
    font-family: "Montserrat";
}

h1 {
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    width: fit-content;
}

/*
------------------
Listed Properties
------------------
*/

.properties-table {
    td {
        vertical-align: middle;
        padding: 20px 12px;
    }
}

.apartment-img {
    width: 100px;
    height: 60px;
    border-radius: 6px;
    object-fit: cover;
}

.apartment-title {
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
}

.status-tag {
    background-color: #CEF27F;
    font-size: 12px;
    padding: 10px 16px;
    border-radius: 4px;


}