/*
---------------
Header
---------------
*/

.border-header {
    border-bottom: 1px solid #E8E8E8;
    background-color: #fff;
}

.border-sidebar {
    border-right: 1px solid #E8E8E8;
}

/*
---------------
Button
---------------
*/

.button-black {
    background-color: #222222;
    color: #fff;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
}