.register {
    width: 100vw;


    .custom-height-desktop {
        height: calc(100vh - 80px);
    }

    input {
        max-width: 320px !important;
    }

    .login-background {
        background-color: #CEF27E;
        height: calc(100vh - 80px);
        position: fixed;
        overflow: hidden;

        .text-container {
            position: absolute;
            z-index: 1;
            bottom: 20px;
            left: 40px;
            max-width: 480px;

            .arrow-icon {
                background-color: #fff;
                width: 50px;
                height: 50px;
                aspect-ratio: 1;
                padding: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                margin-bottom: 8px;
                cursor: pointer;

                img {
                    width: 100%;
                    padding-bottom: 2px;
                }
            }

            h1 {
                text-align: left;
                font-size: 34px;
                width: 80%;
                font-weight: 400;
            }
        }

        .img-background {
            height: 100%;
            position: absolute;
            top: 0;
        }
    }

    .login-logo {
        width: 120px;
        margin-bottom: 40px;
    }

    .login-title {
        text-align: left;
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    @media (min-width: 768px) {
        .padding-desktop-custom {
            padding-left: 6%;
        }
    }

    .custom-label {
        font-size: 14px;
        font-weight: 500;
    }

    .custom-button {
        background-color: #CEF27E;
        border-radius: 100px;
        padding: 8px 24px;
        margin-bottom: 20px;
    }

    .link-custom {
        font-size: 12px;
        color: rgb(46, 46, 46);
        padding: 0;
    }
}