.sponsor-result {
    .title-dashboard {
        font-size: 50px;
        font-weight: 400;
    }

    .text-dashboard {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        line-height: 140%;
        width: 340px;
    }

    .title-group {
        font-weight: 600;
    }

    .custom-button {
        background-color: #CEF27E;
        border-radius: 100px;
        padding: 8px 24px;
        margin-bottom: 20px;
    }

}