.page-title {
    font-size: 36px;
    text-align: left;
    color: #222222;
    margin-top: 20px;
}

.nav-link {
    font-size: 14px;
}

.path-page {
    font-size: 14px;

    display: flex;
    gap: 20px;
    margin: 30px 0 40px 0;
    flex-wrap: wrap;

    a {
        color: rgb(167, 167, 167);
    }

    a:hover {
        color: rgb(82, 82, 82);
    }

    &:last-of-type {
        color: #222222;
    }
}

.minimize {
    font-size: 14px;
    color: gray;
}