.dark-bg {
    background-color: #212121;
}

.dark-sidebar {
    background-color: #1a1a1a;
}

.dark-header {
    background-color: #1a1a1a;
}

.custom-btn {
    background-color: #ff6b00;
    color: white;
    transition: all 0.2s;
    border-radius: 0;

    &:hover {
        background-color: #ff7716;
        color: white;
        transform: scale(1.05);
        box-shadow: 0px 0px 20px #ff7716;
        border-radius: 10px;
    }
}

.orange {
    background-color: #ff6b00;
    color: white;

    &:hover {

        transform: scale(1.05);
        box-shadow: 0px 0px 20px #ff7716;

    }
}